Repository druzsan/justetf-scraping: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy

ruff:
  name: ruff
  entry: poetry run ruff check
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

Add lxml to deps
  poetry.lock
  pyproject.toml
Due: none

Implement `load_listings`
  justetf_scraping/__init__.py
  justetf_scraping/listings.py
Due: ruff, mypy

Update module docstrings
  justetf_scraping/charts.py
  justetf_scraping/overview.py
Due: ruff, mypy

Add py.typed to project
  justetf_scraping/py.typed
Due: none

Update readme
  README.md
  justetf_scraping/charts.py
  justetf_scraping/listings.py
Due: ruff, mypy

Add extra raw queries argument to `load_overview`
  justetf_scraping/overview.py
Due: ruff, mypy

Refactor chart loading and parsing functions; add query_chart for API requests
  README.md
  justetf_scraping/charts.py
Due: ruff, mypy

Update README to include pipenv installation instructions
  README.md
Due: none

Fix variable naming for latest quote date in charts.py
  justetf_scraping/charts.py
Due: ruff, mypy

Update dependencies and enhance ETF profile scraping functionality
  justetf_scraping/__init__.py
  justetf_scraping/charts.py
  justetf_scraping/etf_profile.py
  notebooks/test_scrape.py
  poetry.lock
  pyproject.toml
Due: ruff, mypy

Enhance README with new functions for scraping ETF chart and profile data
  README.md
Due: none

Refactor boolean column conversion to use map instead of replace for ' FutureWarning: Downcasting behavior in `replace`' issue
  justetf_scraping/overview.py
Due: ruff, mypy

Pin asdf tool versions, replace Poetry with uv, replace dev tools
  .envrc
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  poetry.lock
  pyproject.toml
  uv.lock
Due: none

Format and lint files
  justetf_scraping/__init__.py
  justetf_scraping/charts.py
  justetf_scraping/etf_profile.py
  justetf_scraping/overview.py
  notebooks/test_scrape.py
Due: ruff, mypy

Add tests for charts
  .pre-commit-config.yaml
  Makefile
  justetf_scraping/__init__.py
  justetf_scraping/charts.py
  pyproject.toml
  tests/test_charts.py
  uv.lock
Due: ruff, mypy

Change test helper function to private
  tests/test_charts.py
Due: ruff

Update readme
  README.md
Due: none

Add docstring to test charts
  tests/test_charts.py
Due: ruff

Fix pytest in pre-commit config
  .pre-commit-config.yaml
Due: none

Ignore type errors
  justetf_scraping/charts.py
  tests/test_charts.py
Due: ruff, mypy

Fix old-style typing
  Makefile
  justetf_scraping/helpers.py
  justetf_scraping/overview.py
Due: ruff, mypy

Fix pre-commit ty hook name
  .pre-commit-config.yaml
Due: none

Remove old-style types
  justetf_scraping/overview.py
Due: ruff, mypy

Add live quote parsing module
  .envrc
  justetf_scraping/charts.py
  justetf_scraping/live_quote.py
  justetf_scraping/overview.py
  justetf_scraping/types.py
  pyproject.toml
  uv.lock
Due: ruff, mypy

Update .gitognore
  .gitignore
Due: none

Refactor charts types
  justetf_scraping/charts.py
  justetf_scraping/types.py
Due: ruff, mypy

Fix Python versions in pre-commit config
  .pre-commit-config.yaml
Due: none

Test live quote
  tests/test_live_quote.py
Due: ruff

Remove live quote parsing from etf_profile, add to readme
  README.md
  justetf_scraping/__init__.py
  justetf_scraping/etf_profile.py
  justetf_scraping/live_quote.py
  notebooks/readme.ipynb
Due: ruff, mypy

Update readme
  README.md
  justetf_scraping/types.py
Due: ruff, mypy

Update readme notebook
  notebooks/readme.ipynb
Due: none

etf_profile.py: align XML parsing to AJAX response
  justetf_scraping/etf_profile.py
Due: ruff, mypy

Issue #35 Improve dividend reinvestment logic (Compound Total Return)"
  justetf_scraping/charts.py
Due: ruff, mypy

fix(etf_profile): fix NameError and broken AJAX allocation parsing
  justetf_scraping/etf_profile.py
  tests/test_etf_profile.py
Due: ruff, mypy

Update .gitignore to exclude IDE and Playwright files
  .gitignore
Due: none

Add lxml to dependencies
  pyproject.toml
  uv.lock
Due: none

WIP: add ETF details v2
  justetf_scraping/details.py
Due: ruff, mypy

Forbid too new package versions, relock
  pyproject.toml
  uv.lock
Due: none

Refactor: reinvested dividends calculation
  justetf_scraping/charts.py
Due: ruff, mypy

Path conditions:
  ruff: any of: \.py$
  mypy: any of: ^(justetf_scraping)/ and \.py$
